@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sarpanch';
  src: url('/fonts/sarpanch-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2');
}

.glow {
  text-shadow: 0 0 5px currentColor, 0 0 15px currentColor, 0 0 30px currentColor;
}